/* Importing Lato fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --dark: #191c79;
  --light: #9da3a8;
  --border: #d8dce0;
  --border-btn: #e3e8eb;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root element font size normalization */

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

/************************************/
/********   General Style    ********/
/************************************/

.container {
  max-width: 102.4rem;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-dark {
  color: var(--dark);
}

.text-light {
  color: var(--light);
}

.inline {
  display: inline-block;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #e9ecef;
}

/************************************/
/********  Header Style    ********/
/************************************/
#header nav {
  background-color: var(--dark);
  padding: 1rem 0;
  width: 100%;
}

.nav-brand {
  font-size: 2.4rem;
  text-decoration: none;

  color: #fff;
}

/************************************/
/********  Main Section Style ********/
/************************************/

#site-main {
  margin-top: 6rem;
}

#site-main .container .box-nav {
  display: inline-block;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

#site-main .container .box-nav:hover,
#site-main .container .box-nav:active {
  transform: translateY(-2px);
  box-shadow: 1px 3px 10px #ccd0d3;
}

#site-main .container .box-nav > a:link,
#site-main .container .box-nav > a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  color: rgb(13, 16, 187);
}

/********  Main Section Form Style ********/

#site-main .container form {
  margin: 2rem 0;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.thead-dark {
  background-color: var(--dark);
  color: #fff;
}

table td,
table th {
  padding: 0.75rem;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
  font-size: 1.6rem;
  font-weight: 400;
}

.table td > a.btn {
  padding: 0.5rem 1.2rem;
  font-size: 1.8rem;
  margin: 0.2rem;
}

table tbody tr:hover {
  background-color: #e4e4e4;
}

/**************************************************/
/********  Add user & Update UserTemplate ********/
/*************************************************/

.form-title {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.form-title > h2 {
  padding: 1rem 0;
}

.new_user {
  max-width: 78.6rem;
  margin: auto;
}

#update_user .form-group,
#add_user .form-group {
  margin: 0.4rem 0;
  font-size: 1.6rem;
}

#update_user .form-group input[type='text'],
#update_user .form-group input[type='email'],
#add_user .form-group input[type='text'],
#add_user .form-group input[type='email'] {
  width: 100%;
  padding: 0.6rem 1rem;
  margin: 0.8rem 0;
  border: 1px solid var(--border);
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  border-radius: 0.2rem;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
  margin: 1rem 2rem;
}

#update_user .form-group .btn,
#add_user .form-group .btn {
  width: 100%;
  padding: 1rem 1.2rem;
  background-color: rgb(31, 39, 148);
  color: #fff;
  border: none;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  border-radius: 0.2rem;
  margin: 0.5rem 0;
  transition: all 0.2s;
}

#update_user .form-group .btn:hover,
#add_user .form-group .btn:hover {
  background-color: var(--dark);
  color: #fff;
}

/* Responsive Template */
@media (max-width: 65em) {
  html {
    font-size: 50%;
  }
  body #site-main {
    padding: 0 2rem;
  }
}
